.brand {
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.nav-2 {
    margin-top: 2vh;
}
ul{
    list-style: none;
}
li{
    font-family: 'Cormorant', serif; 
    font-size: x-large;
    font-weight: 450;
}
.nvbr {
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
}
.nav-link{
    border-radius: 6px;

}
.nav-link:hover{
    text-transform: capitalize;
    scale: 1.10;
    background-color: rgba(74, 70, 70, 0.501);
    transition: scale 1.25s ease-in-out,background-color 2s ease-in-out,border-radius 2s ease-in-out;

}
.w-btn{
    height: 5vh;;
    width: 6vw;
    border: 2px solid black;
    border-radius: 5px;
}
.box1{
    height: 500px;
     width: 940px;
     display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}
/* .heading1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 6.5vh;
    border-bottom-style: double;
} */
.heading2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vh;
}
.box2{
    height:500px;
    width: 940px;
     border-radius: 25px;
}

.flex-next{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}
.flex-all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer{
    text-align: center;
    margin-top: 3.28vh;
    height: 25px;
    width: 100vw;
    background-color:#212529;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* 
 */
 
 .box1 h1{
    color: #484848;
    font-size: 50px;
    font-weight: bold;
    font-family: Raleway;
    letter-spacing: 7px;
    cursor: pointer
  }

 .box1  h1 span{
    transition: .5s linear
  }
 .box1  h1:hover span:nth-child(1){
    margin-right: 5px
  }
  /* h1:hover span:nth-child(1):after{
    content: "'";
  } */
  .box1 h1:hover span:nth-child(2){
    margin-left: 20px;
    font-size: 90px;
  }
 .box1  h1:hover span{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(34, 2, 2),
                 0 0 20px rgb(24, 22, 22), 
                 0 0 40px rgb(25, 22, 22);
  }
  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* * {
  padding: 0;
  margin: 0;
} */

.quote {
  height:20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote h1 {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1) 2s ;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.quote span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.quote span:nth-child(1) {
  animation: fade-in 9s 1s forwards cubic-bezier(0.11, 0, 0.5, 0) infinite;
}


@keyframes fade-in {
  25%{
    opacity: 0.25;
    filter: blur(0.75);
  }
  35% {
    opacity: 0.5;
    filter: blur(0.5);
  }
  80% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0.5;
    filter: blur(0.5);
  }
}

@media screen and (max-width:940px) {
  .footer{
      margin-top: 15vh;
  }
}
@media screen and (max-width:600px) {
  .footer{
      margin-top: 35vh;
  }
}